*{
    margin:0;
    padding:0;
}
.header{
    min-height: 100vh;
    width:100%;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)) ,url(TUT-protests-gallo.original.jpg);
    background-position: center;
    background-size: cover;
    position:relative;
    display:flex;
    padding:2% 6%;
    justify-content: space-between;
    align-items: center;
}
h1{
    font-size:20px;
    color:#fff;
    
}
h2{
    font-size:20px;
    color:black;
    text-align: center;
    padding: 20px;
    width: 3000px;
}
.tut{
    width:20;
    margin:auto;
    text-align:20px;
    
}
.tut ul li{
    color:black;
    font-size:large;
    font-weight: 100;
    padding-left:10px;

}
.row{
    margin-top:5%;
    display:flex;
    justify-content:space-between;
}
.tut{
    flex-basis:31%;
    background:#fff3f3;
    border-radius:10px;
    margin-bottom:5%;
    padding:20px 12px;
    box-sizing:border-box;
    transition: 0.5s;
}
h3{
    text-align:center;
    font-weight:600;
    margin:10px 0;
}
.tut:hover{
    box-shadow:0 0 20px 0px rgba(0,0,0,0.2);
}
.tut2{
    width:20;
    margin:auto;
    text-align:20px;
    
}
.tut2 ul li{
    color:black;
    font-size:large;
    font-weight: 100;
    padding-left:10px;

}
.row2{
    margin-top:5%;
    display:flex;
    justify-content:space-between;
}
.tut2{
    flex-basis:31%;
    background:#fff3f3;
    border-radius:10px;
    margin-bottom:5%;
    padding:20px 12px;
    box-sizing:border-box;
    transition: 0.5s;
}
h3{
    text-align:center;
    font-weight:600;
    margin:10px 0;
}
.tut2:hover{
    box-shadow:0 0 20px 0px rgba(0,0,0,0.2);
}
@media(max-width:700px){
    .row{
        flex-direction:column;
    }
    .row2{
        flex-direction: column;
    }
}